/* body {
    background-color: black;
    color: white;
}



@media(max-width: 1000px){
    body {
        background-color: red;
    }
}

@media(max-width: 700px){
    body {
        background-color: blue;
    }
}

@media(max-width: 500px){
    body {
        background-color: purple;
    }
} */



/* 

640px red
768px green
1024px blue
1280px brown
1536px black
1536px > white

*/
/* 
body {
    background-color: white;
}

@media(max-width: 1536px){
    body {
        background-color: black;
    }
}
@media(max-width: 1280px){
    body {
        background-color: brown;
    }
}
@media(max-width: 1024px){
    body {
        background-color: blue;
    }
}
@media(max-width: 768px){
    body {
        background-color: green;
    }
}
@media(max-width: 640px){
    body {
        background-color: red;
    }
} */

body {
    background-color: #000000;
    color: #fff;
}

img {
    width: 165px;
}

.items{
    font-size: 1.5rem;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.menu-icon{
    font-size: 2rem;
}

.icon{
    display: none;
}

/* @media (max-width: 1050px){
    .icon{
        display: block;
    }
    .items{
        display: none;
    }
    .navbar {
        justify-content: space-between;
        margin: 0px 40px;

    }
} */


.mobile-navbar{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}


@media(max-width: 1050px){
    .mobile-navbar{
        display: flex;
    }
    .navbar {
        display: none;

    }
}