/* body {
    background-color: red;
    opacity: 0.5;
    color: white;
} */
/* h1 {
    background-color: rgba(0, 188, 255, 0.3);
    opacity: 0.3;
} */


/* RGBA reg green blue alpha */
/* opacity matlb transparency */
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fourteen {
    background-color: #3083c5;
}
.thirteen {
    background-color: #2692d0;
} */