@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
}

@font-face {
  font-family: futurak;
  src: url("../assets/fonts/futurak.ttf");
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
  /* font-family: futurak; */
}

/* navbar started */
.logo {
  width: 165px;
}
.nav-items {
  font-size: 1.7rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.nav-items > a {
  text-decoration: none;
  color: var(--white);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
  flex-wrap: wrap;
}
.franchise-btn {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
}
.order-btn {
  border: none;
  background-color: var(--red);
  color: var(--white);
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
}
.arrow-icon {
  background-color: var(--white);
  color: var(--red);
  padding: 6px 8px;
  border-radius: 20px;
  margin-left: 3px;
}

/* navbar ended */

/* carousel started */
.carousel-image {
  width: 100%;
}
/* carousel ended */

/* brands container started */
.futurak {
  font-family: futurak;
}
.brands {
  margin: 40px 0px;
}
.brand-heading {
  font-size: 5rem;
  text-align: center;
  font-weight: 300;
}
.brand-para {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0px;
  color: #b3adad;
}

.cards-container {
    margin: 50px 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.card-img {
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
}
.card-btn {
  border: 1px solid #b3adad;
  background-color: transparent;
  color: var(--white);
  padding: 15px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
}
/* brands container ended */
